<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div id="tradingview_902bd"></div>
  <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/symbols/KRX-005930/" rel="noopener" target="_blank"><span class="blue-text">005930 Chart</span></a> by TradingView</div>
  <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
  <script type="text/javascript">
  new TradingView.widget(
  {
  "width": 980,
  "height": 610,
  "symbol": "KRX:005930",
  "interval": "D",
  "timezone": "Etc/UTC",
  "theme": "light",
  "style": "1",
  "locale": "en",
  "toolbar_bg": "#f1f3f6",
  "enable_publishing": false,
  "allow_symbol_change": true,
  "container_id": "tradingview_902bd"
}
  );
  </script>
</div>
<!-- TradingView Widget END -->